/* BLACK BAR */

.signin.black-bar {
  background: #000;
  color: #fff;
  font-size: 13px;
  width: 100%;
}

/* CONTAINER */

.signin.black-bar > div {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 6px 20px;
  
  
}

/* SIGN IN TEXT */

.signin.black-bar p {
  margin: 0;
  cursor: pointer;
 
}

/* LANGUAGE */

.signin.black-bar .language {
  position: relative;
}

/* DROPDOWN */

.lang-dropdown {
  position: absolute;
  right: 0;
  top: 28px;
  background: #fff;
  color: white;
  display: none;
  border: 1px solid #ddd;
  min-width: 100px;
}

.lang-dropdown div {
  padding: 8px 12px;
  cursor: pointer;
}

.lang-dropdown div:hover {
  background: #f3f3f3;
}